@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* NAVBAR */

.navbar__item {
  font-size: 1.2em;
  padding: 10px 15px;
}

/* HEADER */

.header {
  font-size: 1.5em;
}

.logo {
  animation: spin 50s linear infinite;
  margin: 25px auto;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/* FAVOURITES */

.favourites__heading {
  min-width: 150px;
  width: 250px;
  background-color: #3b9486;
  margin: 15px 15px;
}

/* GALLERY */

.result {
  font-family: 'Open Sans';
  display: flex;
  margin-top: 20px;
  min-width: 320px;
  flex-wrap: wrap;
  justify-content: center;
}

/* SEARCH BAR */

.search__input {
  background-color: #252559;
}

.search__input:hover {
  border-color: #646cff;
}

.search__input:focus,
.search__input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.search__input:focus {
  border: 2px solid #3b9486;
}

.button {
  min-width: 150px;
  width: 250px;
  background-color: #3b9486;
  margin: 15px 15px;
  -webkit-transition: color 1s ease-in;
  -moz-transition: color 1s ease-in;
  -o-transition: color 1s ease-in;
  transition: background-color 1s ease-in;
}

.button:hover {
  background-color: #252559;
  border: 2px solid #3b9486;
}

/* COCKTAIL CARD */

.cocktail-card {
  border: 2px solid #e74f59;
  background-color: #f76f0f;
  border-radius: 13px;
  margin: 20px 5px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cocktail-card::-webkit-scrollbar {
  display: none;
}

.cocktail-card__image {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@supports (transition: all 0.2s ease-in-out) and (transform: scale(1.02)) {
  .cocktail-card {
    transition: all 0.2s ease-in-out;
  }

  .cocktail-card:hover {
    transform: scale(1.02);
  }
}

.cocktail-card__instructions {
  padding: 10px 15px;
}

/* ABOUT */
.about {
  font-family: 'Open Sans';
}

.about__header {
  font-weight: 400;
}

.about__body {
  font-weight: 300;
}

/* Tablet View */

@media only screen and (min-width: 480px) {
  .cocktail-card {
    max-width: 38vw;
    max-height: 66vh;
    overflow: auto;
    justify-content: space-between;
  }
}

/* Desktop View */

@media only screen and (min-width: 1000px) {
  .cocktail-card {
    max-width: 25vw;
    max-height: 70vh;
    margin-right: 10px;
  }
}
